stackcount/dist
search-s3/node/node_modules
search-s3/python/bin
search-s3/python/lib
search-s3/python/pyvenv.cfg
migration-sizing/credentials.txt
migration-sizing/labkey.pem
migration-sizing/log/cfd.log
search-s3/go/.main.go.swp
search-s3/node/npm-cache
poly-iac/cdktf-reverse/.terraform
poly-iac/cdktf-reverse/.terraform.lock.hcl
poly-iac/cdktf-sns-python/.venv
poly-iac/cdk-sns-go-main/dist
.DS_Store
.vscode
language-compare/analyse/.RData
language-compare/analyse/.Rhistory
*.Rproj
language-compare/analyse/fibcompare.png
lambda-inspector/app/java/target
lambda-inspector/app/node/node_modules
lambda-testevents/.terraform
.terraform*
lambda-testevents/terraform.tfstate
lambda-testevents/terraform.tfstate.backup
.Rproj.user
.task
lambda-dump-event/dist
lambda-dump-event/code.zip
lambda-dump-event/download.txt
lambda-dump-event/img/swap.svg
search-s3/go/count
*.xlsx
steampipe-multi-account-query/steampipe-mod-aws-compliance
dist
cdk.out
